openapi: 3.2.0
info:
  description: 'Woodpecker is a simple, yet powerful CI/CD engine with great extensibility.

    To get a personal access token (PAT) for authentication, please log in your Woodpecker server,

    and go to you personal profile page, by clicking the user icon at the top right.'
  title: Woodpecker CI Organization API
  contact:
    name: Woodpecker CI
    url: https://woodpecker-ci.org/
  version: next-a4cb541b82
servers:
- url: https://ci.woodpecker-ci.org/api
tags:
- name: Organization
paths:
  /orgs/{org_id}:
    get:
      tags:
      - Organization
      summary: Get an organization
      parameters:
      - description: Insert your personal access token
        name: Authorization
        in: header
        required: true
        schema:
          type: string
          default: Bearer <personal access token>
      - description: the organization's id
        name: org_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Org'
      operationId: getOrgsByOrgId
      x-operation-id-source: derived
components:
  schemas:
    Org:
      type: object
      properties:
        forge_id:
          type: integer
        id:
          type: integer
        is_user:
          type: boolean
        name:
          type: string
