openapi: 3.2.0
info:
  description: 'Woodpecker is a simple, yet powerful CI/CD engine with great extensibility.

    To get a personal access token (PAT) for authentication, please log in your Woodpecker server,

    and go to you personal profile page, by clicking the user icon at the top right.'
  title: Woodpecker CI Organization secrets API
  contact:
    name: Woodpecker CI
    url: https://woodpecker-ci.org/
  version: next-a4cb541b82
servers:
- url: https://ci.woodpecker-ci.org/api
tags:
- name: Organization Secrets
paths:
  /orgs/{org_id}/secrets:
    get:
      tags:
      - Organization Secrets
      summary: List organization secrets
      parameters:
      - description: Insert your personal access token
        name: Authorization
        in: header
        required: true
        schema:
          type: string
          default: Bearer <personal access token>
      - description: the org's id
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: for response pagination, page offset number
        name: page
        in: query
        schema:
          type: integer
          default: 1
      - description: for response pagination, max items per page
        name: perPage
        in: query
        schema:
          type: integer
          default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Secret'
      operationId: getOrgsByOrgIdSecrets
      x-operation-id-source: derived
    post:
      tags:
      - Organization Secrets
      summary: Create an organization secret
      parameters:
      - description: Insert your personal access token
        name: Authorization
        in: header
        required: true
        schema:
          type: string
          default: Bearer <personal access token>
      - description: the org's id
        name: org_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Secret'
        description: the new secret
        required: true
      operationId: postOrgsByOrgIdSecrets
      x-operation-id-source: derived
  /orgs/{org_id}/secrets/{secret}:
    get:
      tags:
      - Organization Secrets
      summary: Get a organization secret by name
      parameters:
      - description: Insert your personal access token
        name: Authorization
        in: header
        required: true
        schema:
          type: string
          default: Bearer <personal access token>
      - description: the org's id
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: the secret's name
        name: secret
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
      operationId: getOrgsByOrgIdSecretsBySecret
      x-operation-id-source: derived
    delete:
      tags:
      - Organization Secrets
      summary: Delete an organization secret by name
      parameters:
      - description: Insert your personal access token
        name: Authorization
        in: header
        required: true
        schema:
          type: string
          default: Bearer <personal access token>
      - description: the org's id
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: the secret's name
        name: secret
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      operationId: deleteOrgsByOrgIdSecretsBySecret
      x-operation-id-source: derived
    patch:
      tags:
      - Organization Secrets
      summary: Update an organization secret by name
      parameters:
      - description: Insert your personal access token
        name: Authorization
        in: header
        required: true
        schema:
          type: string
          default: Bearer <personal access token>
      - description: the org's id
        name: org_id
        in: path
        required: true
        schema:
          type: string
      - description: the secret's name
        name: secret
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretPatch'
        description: the update secret data
        required: true
      operationId: patchOrgsByOrgIdSecretsBySecret
      x-operation-id-source: derived
components:
  schemas:
    SecretPatch:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/WebhookEvent'
        images:
          type: array
          items:
            type: string
        name:
          type: string
        note:
          type: string
        value:
          type: string
    WebhookEvent:
      type: string
      enum:
      - push
      - pull_request
      - pull_request_closed
      - pull_request_metadata
      - tag
      - release
      - deployment
      - cron
      - manual
      x-enum-varnames:
      - EventPush
      - EventPull
      - EventPullClosed
      - EventPullMetadata
      - EventTag
      - EventRelease
      - EventDeploy
      - EventCron
      - EventManual
    Secret:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/WebhookEvent'
        id:
          type: integer
        images:
          type: array
          items:
            type: string
        name:
          type: string
        note:
          type: string
        org_id:
          type: integer
        repo_id:
          type: integer
        value:
          type: string
